.checkout-steps {
  display: flex;
  justify-content: space-around;
}

.checkout-steps > span {
  border-bottom: 0.25rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > span.active {
  border-bottom: 0.25rem solid #f08000;
}
